.DS_Store
*.class
bin/
Non_Commit/
*.pyc

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#logs
*Log.out*
*.log
#end logs

#ide files
target/
.project
.settings
.settings/
*.project
.checkstyle
.pydevproject
*.pydevproject
.idea/*
*/.idea/*
*.idea/*
.idea
*.iml
#end ide files

*.ini
generated_proto/

node/
node_modules/
bower_components/
doc/